@font-face {
    font-family: 'squarefontregular';
    src: url('media/square-webfont.woff2') format('woff2'),
    url('media/square-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rodchenkocttregular';
    src: url('media/rodchenkoctt_allfont.ru-webfont.woff2') format('woff2'),
    url('media/rodchenkoctt_allfont.ru-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'digital-7_monomono';
    src: url('media/digital-7_mono-webfont.woff2') format('woff2'),
    url('media/digital-7_mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background: gainsboro;
    margin: 0;
}

body.dark-theme {
    background: #484242;
}

.dark-theme .main-row {
    background: #252525;
}

.dark-theme .kicked {
    color: gainsboro;
}

.player.self {
    font-weight: bold;
}

.player.offline .player-name {
    text-decoration: line-through;
}

.host-controls {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 6px;
    background: rgba(255, 252, 245, 0.58);
    user-select: none;
    cursor: default;
    text-align: right;
    z-index: 2;
}

.little-controls {
    text-align: left;
    border-bottom: 1px solid;
    padding-bottom: 6px;
    height: 25px;
}

.little-controls input {
    width: 45px;
    background: transparent;
    border: 1px solid;
    color: #000000;
    padding: 2px;
    margin: 3px;
}

.little-controls div {
    display: inline-block;
}

.little-controls i {
    vertical-align: middle;
    margin-right: 2px;
}

.little-controls .value {
    vertical-align: middle;
    margin: 0 3px;
}

.host-controls-menu {
    display: none;
    margin-bottom: 9px;
}

.host-controls:hover .host-controls-menu, .host-controls:focus .host-controls-menu {
    display: block;
}

.settings-button {
    cursor: pointer;
}

.settings-button:hover {
    background: #d4d4d4;
}

.settings-button.inactive {
    opacity: 0.3;
}

.side-buttons {
    display: none;
}

.host-controls:hover .side-buttons, .host-controls:focus .side-buttons {
    display: inline-block;
}

.kicked {
    padding: 22px;
    text-align: center;
}

.player {
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-host-controls {
    display: none;
    vertical-align: text-bottom;
}

.spectators .player-host-controls {
    position: static;
}

.player-host-controls > * {
    margin-left: 3px;
}

.player:hover .player-host-controls, .player:focus .player-host-controls {
    display: flex;
    flex: 0;
}

.player .host-button, .command .host-button {
    font-size: 16px;
    cursor: pointer;
    vertical-align: middle;
}

.spectators-section {
    display: none;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.spectators-section.active {
    display: block;
}

.spectators {
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    background: rgb(220, 220, 220);
    user-select: none;
    white-space: nowrap;
    height: 20px;
    box-shadow: 0 0 4px 1px black;
    opacity: 0.7;
}


.spectators:hover {
    opacity: 1;
}

.spectators .player {
    display: inline-block;
    margin: 0 4px;
    padding: 0;
    width: auto;
    background: transparent;
}

.spectators .player:hover .player-host-controls, .spectators .player:focus .player-host-controls {
    display: inline-block;
}

.black-slot-mark {
    cursor: default !important;
}

.main-row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background: #969696;
    box-shadow: inset 0 0 8px 0 black;
}

.team {
    display: flex;
    flex-direction: column;
    background: #796565;
    padding: 10px 16px;
    align-items: center;
    box-shadow: 0 -7px 7px 0 black;
    position: relative;
}

.code {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: squarefontregular, sans-serif;
    font-size: 60px;
    color: #ff6969;
    box-sizing: border-box;
    text-align: center;
    padding-top: 49px;
}

.black .code {
    background-image: url(media/code_back_black.png);
    padding-top: 44px;
}

.black .code.active {
    background-image: url(media/code_black.png);
}

.white .code {
    background-image: url(media/code_back_white.png);
}

.white .code.active {
    background-image: url(media/code_white.png);
}

.stand {
    display: flex;
    width: 800px;
    height: 287px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 51px;
    box-sizing: border-box;
    align-self: center;
}

.stand.black {
    background-image: url(media/screen_black.jpg);;
}

.stand.white {
    background-image: url(media/screen_white.jpg);
}

.timer {
    text-align: center;
    font-size: 30px;
    font-family: digital-7_monomono, sans-serif;
    color: #ff0202;
    padding-top: 17px;
}

.join-team-button {
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    margin-top: 2px;
    background: #969aae5c;
    color: white;
}

.players {
    margin-top: 6px;
    width: 176px;
    box-shadow: 0 0 5px -1px black;
}

.stand-code {
    width: 25%;
    color: #ff6969;
    font-size: 22px;
    text-align: center;
    font-family: rodchenkocttregular, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 72px;
    text-transform: uppercase;
}

.word-row {
    display: flex;
    padding: 5px 11px;
}

.word-rows {
    display: flex;
    flex-direction: column;
    min-width: 205px;
    max-width: 385px;
    width: 50%;
}

.main-pane {
    display: flex;
    justify-content: center;
}

.words-input {
    min-width: 200px;
    width: 100%;
    max-width: 650px;
    flex-wrap: wrap;
    display: flex;
    box-shadow: black 0px 0px 5px -2px;
}

.words-input.white {
    background: #ececec;
}

.words-input.black {
    background: #afbbca;
}

.words-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.word-column {
    width: 168px;
}

.word-column.white {
    background: #f5f6f6;
}

.word-column.black {
    background: #afbbca;
}

.logs-pane {
    margin-top: 10px;
}

.word-input {
    width: 100%;
}

.round-table-row {
    display: flex;
}

.round-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ready-button {
    width: 200px;
    background: #796565;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    padding: 5px;
    user-select: none;
    position: relative;
    color: white;
    font-family: squarefontregular, sans-serif;
    text-transform: uppercase;
}

.add-guess {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-left: 8px;
    background: #3b4858;
    padding: 4px 5px;
    user-select: none;
}

.master-icon {
    font-size: 18px;
}

.master-icon.ready {
    color: #00a466;
}


.player-color {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 7px;
    border-radius: 25px;
    margin-left: 4px;
    min-width: 9px;
}

.player {
    background: #f4f4f4;
    padding: 3px 1px;
}

.spectators .player:nth-child(even) {
    background: transparent;
}

.word-input input {
    width: 100%;
    height: 20px;
}

.word {
    display: flex;
    padding: 3px;
    box-shadow: -1px 8px 5px -8px #0000006b;
}

.word input {
    width: 100%;
    margin-left: 4px;
    background: transparent;
    border: 1px solid gainsboro;;
    padding: 0 4px;
}

.code-input {
    border: 1px solid gainsboro;
    padding: 0 6px;
    text-align: center;
    min-width: 7px;
}

.empty-holder {
    color: #494949;
    font-style: italic;
}

.empty-holder {
    color: #494949;
    font-style: italic;
}

.white .word-row {
    background: white;
}

.black .word-row {
    background: #bfc8d1;
}

.white .word-row:nth-child(even) {
    background: #f7f7f7;
}

.black .word-row:nth-child(even) {
    background: #b0bbc8;
}

.add-guess input {
    width: 35px;
    background: transparent;
    border: 1px solid;
    margin-bottom: -1px;
    color: white;
    padding: 3px 4px;
}

.guess {
    padding: 5px 11px;
    margin: 7px;
    line-height: 21px;
    position: relative;
    cursor: pointer;
    user-select: none;
    height: 64px;
    border: 1px solid;
}

.add-guess-button {
    cursor: pointer;
    padding: 3px;
    color: #cecece;
    padding-left: 0;
}

.remove-guess {
    font-size: 9px;
    position: absolute;
    left: 8px;
    top: -6px;
    color: #f0fcfe;
    padding: 1px 3px;
    cursor: pointer;
    user-select: none;
}

.guess-vote {
    font-size: 12px;
    padding: 3px 2px;
    cursor: pointer;
    user-select: none;
    margin-top: 2px;
    width: 7px;
    height: 3px;
    color: transparent;
}

.guess-vote-list {
    position: absolute;
    bottom: 5px;
    right: -4px;
    display: flex;
    flex-flow: column;
}

.add-guess-inputs {
    flex-flow: column;
    display: flex;
}

.timer-time {
    background: #480909;
    padding: 5px 8px;
    border: 4px solid #888888;
    box-shadow: inset 0 0 3px 0 red;
}

.ready-markers {
    position: absolute;
    right: 5px;
    top: 9px;
}

.ready-markers .player-color {
    margin: 0 2px;
    border-radius: 0;
}

.word-number .material-icons {
    font-size: 15px;
    margin-right: 3px;
    vertical-align: top;
}

.word-number {
    margin-right: 0;
    margin-top: 2px;
    width: 35px;
    font-family: squarefontregular, sans-serif;
}

.words-column-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.join-team-button span {
    margin: 0px 6px;
    vertical-align: middle;
}

.word-column.white:nth-child(even) {
    background: #ececec;
}

.word-column.black:nth-child(even) {
    background: #bfc8d1;
}

.word-code-list-item {
    padding: 5px;
    text-align: left;
    color: black;
}

.word-codes-list {
    text-align: center;
    color: dimgrey;
}

.round-table {
    background: url(media/round_sheet.png);
}

.round-table-code-word {
    width: 191px;
    padding: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.round-table {
    background-size: 297px;
    padding: 9px;
    padding-top: 23px;
    position: relative;
}

.round-table-code {
    width: 22px;
    text-align: center;
    margin-right: 2px;
    line-height: 24px;
    height: 23px;
    margin-top: 4px;
}

.round-table-code.correct {
    background: #1ee82030;
}

.round-table-code.wrong {
    background: #e81e1e30;
}

.round-number {
    position: absolute;
    top: 6px;
    left: 39px;
    font-family: squarefontregular, sans-serif;
    font-size: 14px;
    color: #6f6c6f;
}

.main-pane, .words-section {
    margin-top: 16px;
    padding-top: 17px;
    border-top: 2px dotted #796565;
}

.round-table.black {
    background-color: #929292;
}

.round-table.white {
    background-color: #f9f9f9;
}

.token {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    background-size: contain;
    opacity: 1.8;
    box-shadow: 0 0 3px 1px black;
    cursor: pointer;
    transition: all 0.2s;
}

.token.after-anim {
    height: 60px;
    width: 60px;
}

.fail-token {
    background-image: url(media/miscommunication_token.png);
    border: 1px solid white;
}

.hack-token {
    background-image: url(media/interception_token.png);
    border: 1px solid black;
}

.rounds-section {
    display: flex;
    flex-flow: column;
    position: fixed;
    padding: 5px;
    background: #3b4858;
    right: -600px;
    transition: right 0.3s;
    bottom: 0;
    cursor: pointer;
}

.round-section-button {
    position: absolute;
    left: -39px;
    z-index: 1;
    background: #3b4858;
    color: white;
    padding: 5px 5px;
    font-size: 30px;
    bottom: 98px;
}

.round-section-button::after {
    content: "event_note";
}

.rounds-section.locked .round-section-button::after {
    content: "lock";
}

.rounds-section:hover {
    right: 0;
}

.rounds-section.locked {
    right: 0;
}

@media (max-width: 1200px) {
    .stand {
        display: none;
    }

    .main-row {
        background: #796565;
        justify-content: center;
    }

    .team {
        padding: 10px 6px;
        background: transparent;
        box-shadow: none;
    }

    .rounds-section {
        position: static;
    }

    .words-section {
        margin-bottom: 16px;
        padding-bottom: 17px;
        border-bottom: 2px dotted #796565;
    }
}

.guess-stub {
    border: 1px dashed #796565;
    padding: 5px 9px;
    display: flex;
    align-items: center;
    color: #9a9a9a;
    font-family: squarefontregular, sans-serif;
}

.words-column-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: black 0 0 5px -2px;
}

.guess-input {
    padding: 1px 6px;
    background: #480909;
    margin: 2px;
    cursor: pointer;
    user-select: none;
    border: 1px solid #888888;
    color: red;
    font-family: digital-7_monomono, sans-serif;
    font-size: 21px;
}

.round-anim {
    position: fixed;
    background: #1b1b1bba;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100%;
    transition: 0.3s padding-left;
}

.round-anim.after-anim {
    padding-left: 0;
}

.round-anim .round-table {
    width: 280px;
    height: 96px;
    zoom: 1.5;
}